div {
  background-color: #bac8c7; /* Set background color */
  padding: 10px; /* Add padding for better visibility */
  // margin-top: 40px; /* Push the footer to the bottom */
  width: 100%;
  text-align: center; /* Center content */
  position: fixed; /* Set position to fixed */
  bottom: 0; /* Stick to the bottom */
}
