mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #ad6e20, #ff6347);
  color: white;
}

mat-toolbar .left {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
}

mat-toolbar .center {
  color: black;
  flex: 1;
}

mat-toolbar .icons {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  justify-content: flex-end; /* Align icons to the right */
}
